
<!-- <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    
    <div class="princ">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/usuario">Usuario</a>
            </li>



            <li>
                <a href="/acerca">About</a>
            </li>

        </ul>


        <main>
            <div class="contenedor">
                Welcome
            </div>
            <img src="/img/logoproyecto.png" alt=""/>
        </main>



    </div>





</body>
</html> -->

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Curriculum Vitae a Personal</title>
<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Custom Theme files -->
 <link href="/css/dashboard.css" rel="stylesheet">
<link href="/css/style.css" rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Curriculum Vitae Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
<!-- start menu -->
  
</head>
<body>
<!-- header -->
<div class="col-sm-3 col-md-2 sidebar">
		 <div class="sidebar_top">
			 <h1>CV</h1> 
			 <img src="images/Captura.png" alt=""/>
		 </div>
		<div class="details">
			 <h3><li>Contactame</h3></li>
			 &nbsp;&nbsp;&nbsp;&nbsp;   
			 <button> <a href="/usuario">3133752565</a> &nbsp; <i class="fa fa-whatsapp"></button></i>
			 &nbsp;&nbsp;&nbsp;&nbsp;   	 
			 <h3><li>Email &nbsp; <i class="fa fa-envelope" aria-hidden="true"></i></h3></i></li>
			 <p><a href="andresfelipecristancho2014@gmail.com">andresfelipecristancho</br>2014@gmail.com</a></p>
			 <address>
			 <h3><li>Nombre:</h3></li> 
			 <span>Andres felipe &nbsp; Cristancho Lara</span> 
			 &nbsp;&nbsp;&nbsp;&nbsp; 
			 <h3><li>Direccion &nbsp; </h3></li>
			 <span>Usaquen - Bogota D.C</span>
			 <span></br></span>
			 <h3><li>Edad</h3></li>	
			 <span>22</span>
			 </address>
			 
		</div>
		<div class="clearfix"></div>
</div>
<!----> 
<link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<script src="/js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!---//pop-up-box---->			
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 <div class="content">
		 <div class="details_header">
			 <ul>
				 <li><a href="/">Home</a></li></i>
				 <li><a href="/usuario">Contactame</a></li>
				 <li><a class="play-icon popup-with-zoom-anim" href="#small-dialog">Ampliar foto</a></li>
				 <div id="small-dialog" class="mfp-hide">
					 <img src="images/Captura.png" alt=""/>
				 </div>
				 <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
			 </ul>
		 </div>

		 



		 <div class="company">
			<h3 class="clr1">Objetivo Profesional</h3><i class="fa fa-address-book"></i>
			<div class="company_details">
				<p class="cmpny1">Convertirme en un desarrollador web aplicando las mejores tecnologias que hay actualmente en el mercado</p>
			</div>
		</div>


		<div class="company">
			<h3 class="clr1">Quien soy</h3>
			<div class="company_details">
				<p class="cmpny1">Estudiante de informática dispuesto a poner empeño a lo que haga falta aplicando conocimientos y conceptos de la programación en general</p>
			</div>
		</div>
  


		 <div class="company">
			<h3 class="clr1">Experiencia laboral</h3>
			<div class="company_details">
				<h4>Comapañia <span>Junio 2019 - septiembre</span></h4>
				<h6>Desarrollador web frelancer</h6>
				<p class="cmpny1">Desarrollo de aplicaion bioapp de recoleccion de aceites usados de cocina impresion de tickets electronicos via impresora termica portatil</p>
				<h4>Comapañia <span>bictia</span></h4>
				<h6>Desarrollo SCRUM</h6>
				<p class="cmpny1"> Desarrollo de tienda de instrumentos bitinstruments usando la metodologia de desarrollo agil SCRUM</p>
			
		</div>

		&nbsp;&nbsp;&nbsp;&nbsp;  

			 
		 <div class="skills">
			 <h3 class="clr2">Professional skills</h3>
			 <div class="skill_info">
			 </div>
			 <div class="skill_list">
				 <div class="skill1">
					 <h4>Software</h4>
					 <ul>					 
						<li>Pixlr E(Photoshop)</li>
						<li>Visual Studio Code</li>
						<li>Xampp</li>
						<li>Postman</li>
						<li>Git - Github</li>
						<li>Balsamiq(Mockups)</li>
					 </ul>
				 </div>

				

				 <div class="row">
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
							<li>HTML/CSS</li>
						  <div class="progress">
							<div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="75">70%</div>
						  </div>
						</div>

						<div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								  <li>Materialize</li>
	  
								  <div class="progress">
									  <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="75">45%</div>
									</div>
								  </div>
					  </div>
					</div>
				</br> </br> </br>
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
							<li>Bootstrap</li>

							<div class="progress">
								<div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="75">45%</div>
							  </div>
							</div>
	
						</div>
					  </div>
					</div>
				  </div>



				  <div class="row">
					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
							<li>PHP</li>
						  <div class="progress">
							<div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="75">70%</div>
						  </div>
						</div>
					  </div>
					</div>


					<div class="col-sm-6">
						<div class="card">
						  <div class="card-body">
							  <li>MySQL</li>
  
							  <div class="progress">
								  <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="75">55%</div>
								</div>
							  </div>
	  
						  </div>
						</div>
					  </div>

					<div class="card">
						<div class="card-body">
							<li>JavaScript</li>

							<div class="progress">
								<div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">75%</div>
							  </div>
							</div>

							<div class="col-sm-6">
								<div class="card">
								  <div class="card-body">
									  <li>CSS(Grid)</li>
		  
									  <div class="progress">
										  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="75">45%</div>
										</div>
									  </div>
						</div>
					  </div>
					</div>
				  </div>

					<div class="col-sm-6">
					  <div class="card">
						<div class="card-body">
							<li>CSS(Flexbox)</li>

							<div class="progress">
								<div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="75">45%</div>
							  </div>
							</div>





							<div class="row">
								<div class="col-sm-6">
								  <div class="card">
									<div class="card-body">
										<li>Express.js (MEAN STACK)</li>
									  <div class="progress">
										<div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="75">45%</div>

									  </div>
									</div>
									
								  </div>
								</div>

								<div class="col-sm-6">
								  <div class="card">
									<div class="card-body">
										
										<li>Mongodb (MEAN STACK)</li>
			
										<div class="progress">
											<div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="75">45%</div>

										  </div>
										</div>
										
			

							

						</div>
					  </div>
					</div>
				  </div>


	

					   
				 <div class="clearfix"></div>
			 </div>

			 <div class="col-sm-6">
				<div class="card">
				  <div class="card-body">
					
					  <li>AJAX</li>

					  <div class="progress">
						  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="75">45%</div>
						</div>
					  </div>





					  <div class="row">
						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								
								  <li>Angular (MEAN STACK)</li>
								<div class="progress">
								  <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="75">45%</div>
								</div>
							  </div>
							  
							</div>
						  </div>

						  <div class="col-sm-6">
							<div class="card">
							  <div class="card-body">
								
								  <li>Node.js (MEAN STACK)</li>
	  
								  <div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="75">45%</div>

									</div>
								  </div>
								  
	  

					  

				  </div>
				</div>
			  </div>
			</div>



				 
		   <div class="clearfix"></div>
	   </div>
		 </div>

		 

		 <div class="education">
			 <h3 class="clr3">Educacion Universitaria</h3>
			 <div class="education_details">
				 <h4>Escuela colombiana de carreas industriales (ECCI)<span> 2020-Actualidad</span></h4>
				 <h6>tecnologia en desarrollo informático 5to Semestre</h6>
				 <p class="cmpny1"></p>
			 </div>
			</br> </br>
			 <h3 class="clr3">Educacion Primaria y Secundaria</h3>
			 <div class="education_details">
				 <h4>fundación Educacional Ana Restrepo del Corral-Sena <span>2004 - 2014</span></h4>
				 <h6>Bachiller tecnico en contabilidad</h6>
				 <p></p>
			 </div>
		 </div>
		</br> </br>
		<h3 class="clr3">Bootcamp</h3>
		<div class="education_details">
			<h4>Bictia  <span>Intensidad horaria de 160 horas 10 de marzo 2020</span></h4>
			<h6>Fundamentos De Programacion y Creacion De Paginas Web</h6>
			<p>HTML - CSS - Fundamentos de JavaScript - Bootstrap - Github - SCRUM </p>
		</div>
	</div>
		</br> </br>
		<h3 class="clr3">Idiomas</h3>
		<div class="education_details">
			
			<li>Ingles A2</li>
			<li>Español Natal</li>
			<p></p>
		</div>
	</br> </br>
	<h3 class="clr3">Competencias</h3>
	<div class="education_details">
		
		<li>Honesto </li>
		<li>Iniciativa </li>
		<li>Puntual</li>  
		<li>Organizado</li>
		<p></p>
	</div>
	</div>
		 <div class="copywrite">
			 <p>© 2020 Curriculum Vitae All Rights Reseverd | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts Modification and rebuild by Andres Cristancho</a> </p>
		 </div>
	 </div>
</div>
<!---->
</body>
</html>