<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    
    <div class="princ">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/usuario">Usuario</a>
            </li>



            <li>
                <a href="/acerca">About</a>
            </li>

        </ul>


        <main>
            <div class="contenedor">
               <p>Acceso Permitido!!!</p>
        </main>



    </div>





</body>
</html>